html,body {
  height: 100%;
  background-color: #ecdede;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#header {
    background-color: #dee2ec !important;
    animation-delay: .2; 
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

#header-title {
    background-color: inherit;
    font-family: "jubilat",serif;
    font-weight: 700;
    font-size: 51px;
    font-kerning: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

#header-subtitle {
  background-color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-top: -12px;
  font-size: small;
}

#game-checkbox-div {
  text-align: left;
}

#pgn-picker-radio {
  text-align: left;
}

hr {
  padding: 0;
  margin: 0;
  border-top: 1px solid;
}

.cg-board-wrap {
    width: 400px;
    height: 400px;
    position: relative;
    display: block;
    margin: auto;
    border: 1px solid;
  }

.chessboard-container {
    position: relative;
}

.promotion-icon {
  font-size: 51px;
  color: #303030;
}

.custom-file-label {
  color:#7792a6;
  display: flex;
}

.playing-side-note {
  font-size: larger;
  font-weight: bold;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.import-file-help-text {
  text-align: justify;
}

.annotation {
    white-space: break-spaces;
    min-width: 190px;
    max-width: 100%;
    width: max-content;
    text-align: left;
    margin: auto;
    cursor: context-menu;
}

.annotation-has-ravs {
    background-color: lightblue;
    cursor: pointer;
}

#move-list {
    max-width: 400px;
}

#move-list .popover-body {
    padding: 0;
}

.annotation-popover-single {
    padding: .5rem;
}

#gameSelectionList {
  min-width: 200px;
}

@media(max-width: 600px ), (max-height: 600px) {

    .title-shrink {
        animation-name: title-shrink;
        animation-delay: inherit;
        animation-fill-mode: inherit;
        animation-duration: inherit;
      }
    
    .subtitle-shrink {
        animation-name: subtitle-shrink;
        animation-delay: inherit;
        animation-fill-mode: inherit;
        animation-duration: inherit;
    }

    @keyframes title-shrink {
        0% {
          font-size: 51px;
        }
        100% {
          font-size: 16px;
        }
      }
    @keyframes subtitle-shrink {
        0% {
          font-size: 13px;
          margin-top: -12px;
        }
        100% {
          font-size: 0px;
          margin-top: 0px;
        }
      }

  #move-list {
      max-width: min(90vh, 90vw);
  }

  .cg-board-wrap {
      width: min(90vh, 90vw, 400px);
      height: min(90vh, 90vw, 400px);
      margin-top: 5px !important;
  }

  .compact-selection-list {
    padding: 0 !important;
  }

  #gameHeader {
      line-height: 1em;
  }

  .playing-side-note {
    font-size: medium;
  }

  #game-checkbox-div .custom-checkbox{
    min-height: 1.25rem;
    line-height: 1.25rem;
  }
}

[data-darkreader-mode="dynamic"] piece.black:not(.king) {
    filter: invert(100%) brightness(250%);
}
